NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
HF_TOKEN=
HF_SPACE_ID=numanajmal0/wan-video-api
HF_API_NAME=/generate
HF_EXTRA_ARGS=[]
NEXT_PUBLIC_APP_URL=http://localhost:3000